<ion-view>
  <ion-nav-title>Em Acompanhamento <i class="icon ion-eye"></i></ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon" ng-disabled="loading" ng-class="{'ion-earth': show.list, 'ion-ios-list': !show.list}" ng-click="show.list = !show.list">
    </button>
  </ion-nav-buttons>
  <div id="map" data-tap-disabled="true" google-map style="height:100%; width: 100%;" api-key="AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es" events="events"></div>
  <ion-content ng-show="show.list" class="background-stable">
    <ion-refresher on-refresh="reload()">
    </ion-refresher>
    <br>
    <div ng-show="show.list">
      <ion-list>
        <ion-item auto-list-divider auto-list-divider-value="{{event.name}}"  ui-sref="detail_timeline({id: event.id})" class="item-royal item-avatar item-icon-right" ng-repeat="event in events | limitTo:limit">
          <img ng-src="{{event.thumb}}">
          <h2>{{event.name}}</h2>
          <p><b>{{event.municipio}}</p>
          <i class="icon ion-ios-arrow-right"></i>
          <div class="timeline-stats">
            <i class="ion-clipboard"></i> {{event.total_atualizacoes}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{event.ultima_atualizacao}}</span>
          </div>
        </ion-item>
        <ion-item class="text-center item-royal" ng-if="events && !events.length">Ainda não está de olho <i class="icon ion-eye"></i> em nenhum convênio ou obra!</ion-item>
      </ion-list>
    </div>
    <ion-infinite-scroll
      ng-if="!events || events.length > limit"
      class=""
      on-infinite="loadMore()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
