<ion-view>
  <ion-nav-title>SouFiscal <i class="icon ion-thumbsup"></i></ion-nav-title>
  <ion-content padding="true" id="homeContent" scroll="false" class="padding">
    <section class = "home-container">
      <div class="row tilerow"><div class="col">
        <a class="tilelink" ui-sref="dashboard"><div class="tile royal-bg tile-image" style="background-size:cover; background-image: url(img/obras.jpg)">Convênios e Obras</div></a>
      </div></div>
      <div class="row tilerow"><div class="col">
        <a class="tilelink" ui-sref="tarefas"><div class="tile royal-bg tile-image" style="background-size:cover; background-image: url(img/tarefas.jpg)">Tarefas Disponíveis</div></a>
      </div></div>
      <div class="row tilerow"><div class="col">
        <a class="tilelink" ui-sref="deolho"><div class="tile royal-bg tile-image" style="background-image: url(img/_ALX2436.jpg)">Em Acompanhamento</div></a>
      </div></div>
      <div class="row tilerow"><div class="col">
        <a class="tilelink" ui-sref="comunidade"><div class="tile royal-bg tile-image" style="background-image: url(img/DSC04370.JPG)">Comunidade</div></a>
      </div></div>
    </section>
  </ion-content>
</ion-view>
